{% extends 'base.html' %}
{% block content%}
<div class="container">
<br>

<div class="row">
<div class="col-8 offset-2">
    <br>
   <h3 class="title-text text-center">4 Tips from a Growth-Hacker Newbie in a Full-Time Marketing Job: Part 2
</h3>
    <br>
    <p class="text-center"><img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/Part-2-iamge-1.jpg" alt=""></p>
    <br>
    <p class="content-text">
        Welcome back! Continuing my reflection on Ryan Holiday’s <a href="https://www.amazon.com/Growth-Hacker-Marketing-Primer-Advertising-ebook/dp/B00INIXL3O" target="_blank">Growth Hacker Marketing</a>, I also want remind that this post is a reflection of my current career relative to learnings from this book. I really encourage readers who are in the field to give this short piece a read because it might change their perspectives on how they approach creative briefs in their current jobs.
    </p>
    <br>
    <p class="text-center"><img src="https://images-na.ssl-images-amazon.com/images/I/61zm3x7rV3L.jpg" alt="" height="300"></p>
    <br>

    <p class="content-text">My last two takeaways from Ryan Holidays are:
</p>
    <br>
    <p class="content-text">1. Listen to your data
</p>
    <p class="content-text">2. Growth hacking can be applied anywhere
</p>
    <br>
    <p class="content-bold">
        Listen to your data
    </p>
    <p class="content-text">
        Like I said, few are entrepreneurs, but many in the world can be excellent, distinguished marketers if they want to. Lastly, this book taught me to listen to data. While I have, what it seems like an abundance of marketing resources to tap into, it is nothing without executing, testing, modifying, and repeat.
    </p>
    <br>
    <p class="content-text">
        Marketing is made scientific and empirical nowadays--you can prove your hypotheses with data and make quick decisions without dropping a lot of money on a single campaign. This book motivates you to try small hypotheses and modify your campaigns as you progress to ensure that your decisions surrounding design, copywriting, and timing are optimal. Who knew marketing would marry the world of science one day?
    </p>
    <br>
    <p class="content-bold">
    Growth Hacking Can Be Applied Anywhere
    </p>
    <p class="content-text">
        Like I said, this book will not teach you how to be an excellent marketer, but it definitely makes you reflect on your potential to become one. If you don’t work in tech, or are not even a marketer and for some reason you’re reading this, remember that growth hacking is not limited to just the corporate world. Even a job seeker or a brand new student club can adopt a growth hacking mindset to achieve their goals. In other words, it is good start for anyone who wants to explore how you can do even more with the what they already have.
    </p>
    <br>
    <p class="text-center"><img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/Part-2-image-2.jpg" alt=""></p>
    <br>
    <p class="content-text">
      So next time before you create a new campaign brief, give this ~100-page beauty a read and I truly believe it will spark a new mindset, motivation, or at least genuine curiosity to read more into this topic. And again, you can be an aspiring entrepreneur or a marketer looking to exercise a new creative outlet in a Fortune 100 company. No one marketer in the world knows it all.
    </p>

    <p class="content-text">
        Next book I read? Growth Hacking by Raymond Fong and Chad Riddersen from Deviate Labs. Read all about it in the next blog!

    </p>

    <br>
    <p class="text-muted">Updated a week ago</p>

    <br><br><br><br><br>
</div>
</div>


</div>

{% endblock %}