{% extends 'base.html' %}
{% block content%}
<div class="container">
<br>

<div class="row">
<div class="col-8 offset-2">
    <br>
<h3 class="title-text text-center">How "the lean startup" changed my life</h3>
    <br>
<p class="text-center"><img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/customer.jpg" alt=""></p>
<br>
<p class="content-text">
Honestly, I didn't like reading before. Let me share my store with you.
</p>
    <br>
    <p class="content-text">
    3 years ago, I start my first company which was an ios app which was "Uber for Food".In the beginning, we were so excited to create next Billion level company. After spending 7 months development on the project, we still didn't even have a real product. Meanwhile, we were just adding more and more features we thought customers would love. Finally, we got the first version of the app after 9 months of development. As you think, when we deliver this app to real users. None of them even need it, let alone love all features we built. Therefore, we FAILED.
</p>
    <br>
<p class="content-text">
   I was very disappointed and lost many money and time because of it.
At that point, I felt hopeless because I tried to my best but still failed.
What should I do next? Am I really fit for entrepreneurship?
</p>
    <br>
<p class="content-text">
Luckily, my friend told me about lean startup method. Uses the minimal time and effort to validate your idea. When the idea is validated, you can double down. So you don't have to waste money and resources to build a product nobody wants.
</p>
    <br>
  <p class="text-center"><img src="https://images-na.ssl-images-amazon.com/images/I/51T-sMqSMiL._AC_US218_.jpg" alt=""></p>

    <br>
<p class="content-text">
Wow, What a great method. It totally blows my mind.

</p>
    <br>
<p class="content-text">
    I started to search for any way I could learn more about it. I found <a href="https://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/0307887898/ref=sr_1_2?ie=UTF8&qid=1529444561&sr=8-2&keywords=the+lean+startup" target="_blank">"The Lean Startup"</a> by Eric Ries. So I systematically learned lean startup method. I really appreciated.
</p>
    <br>
    <p class="content-text">
        I tried my second startup which was a VR dating app in a month. We spent 2 less than two weeks to build the MVP(minimum viable product). Then we brought it to users. People did not like it. Yes. It didn't work out but I didn't lose a lot either. Plus, I have learned a lot of experience about the lean product development as well. I was happy about it.
    </p>
    <br>
    <p class="content-text">
        It's really to see how I changed myself by reading startup books.
That's why I love reading now. If you want, you can do it too.
    </p>

<br><br><br><br><br>
</div>
</div>


</div>

{% endblock %}