<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
        <br>
     <h3 class="title-text">Top 10 book about {{ category }}</h3>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <nav class="nav">
  <a class="nav-link btn btn-outline-success" href="?category=Business">Business</a>
  <a class="nav-link btn btn-outline-success" href="?category=Programming">Programming</a>
  <a class="nav-link btn btn-outline-success" href="?category=Investment">Investment</a>
</nav>
   </nav>
</div>
    </div>

    </div>