
<!-- Search List Session-->
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-lx-8">


{% for item in item_list %}
<div class="card">
  <div class="card-header">
      <a href="{{ item.link}}" target="_blank">{{ item.title }}</a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

       <p> <span class="float-left badge badge-pill badge-warning" >#{{ forloop.counter}}</span>
           <span class="float-right badge badge-pill badge-warning">Customer satisfaction {{ item.hotscore }}%</span>
       </p>
        <br>
        <br>
        <p class="text-center"><a href="{{ item.link }}" target="_blank"><img src="{{ item.image }}" height="140">&ensp;<span class="text-justify"></span></a></p>
        <p></p>
      <footer class="footer font-weight-light">
          <img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/rating.png" height="30" width="30">Rating:{{ item.rating }}|Count:{{item.rating_count}}
        <span class="float-right">${{ item.price}}.00</span>
      </footer>
    </blockquote>
  </div>
</div>
<br>
{% endfor %}
</div>
        <div class="col-2"></div>
</div>
    </div>